body,html {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/light-blue-polygonal-background-seamles-loop-3d-render-4k-uhd-3840x2160_bhidnioy__F0000.png);
    height: 100%;
}


#container {
    height: 100%;
    width: 100%;
    
}

.jumbotron {
    background: none;
}

p1 {
    font-weight: 300;
    font-weight: bold;
}

.card {
    background: none;
    border: none;
}


img {
 
    cursor: pointer;
    align-content: center;
    justify-content: center;
    
}   

